.container {
  padding: 12px 14px 0;
  margin-bottom: 100px;
}

.heading {
  font-weight: 300;
  padding: 4px 0;
}

.mealsList {
  padding: 12px 0;
  width: 100%;
}

.mealListLink {
  display: block;
  border: 1px groove black;
  border-radius: 4px;
  padding: 6px;
  margin: 6px 0;
  color: var(--primary);
  text-decoration: none;
  font-size: var(--font-size-l);
  text-align: center;
}

.addMealText {
  font-size: var(--font-size-l);
  color: var(--primary);
}

.addMealBtn {
  padding-top: 6px;
  color: var(--primary);
  font-size: var(--font-size-l);
  width: 100%;
}
