.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4px 0;
  display: flex;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  background-blend-mode: exclusion;
}

.navList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navListItem {
  list-style-type: none;
  width: 25%;
  height: 50px;
  padding: 2px 4px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  background-color: whitesmoke;
}

.navListLink {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.topNavContainer {
  display: flex;
  justify-content: space-between;
  margin: 8px 16px;
  align-items: center;
}

.navBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 4px;
}
